#clockHolder
{
    width:155px;
    margin:0px auto 0px auto;
    position:relative;
    top:0px;
    left:0px;
}

#sec
{
    display:block;
    position:absolute;
}
#min
{
    display:block;
    position:absolute;
}
#hour
{
    display:block;
    position:absolute;
}

.rotatingWrapper
{
    position:absolute;
    width:155px;
    height:155px;
    top:0px;
    left:0px;
}