<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/inwise</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.connection.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">false</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">managed</property>

        <mapping class="com.inwise.pojo.Address"/>
        <mapping class="com.inwise.pojo.AddressType"/>
        <mapping class="com.inwise.pojo.Advance"/>
        <mapping class="com.inwise.pojo.Customer"/>
        <mapping class="com.inwise.pojo.Invoice"/>
        <mapping class="com.inwise.pojo.InvoiceDetail"/>
        <mapping class="com.inwise.pojo.Order"/>
        <mapping class="com.inwise.pojo.OrderDetail"/>
        <mapping class="com.inwise.pojo.Product"/>
        <mapping class="com.inwise.pojo.ProductCategory"/>
        <mapping class="com.inwise.pojo.ProductMeasurementType"/>
        <mapping class="com.inwise.pojo.Role"/>
        <mapping class="com.inwise.pojo.RolePermissions"/>
        <mapping class="com.inwise.pojo.Tax"/>
        <mapping class="com.inwise.pojo.User"/>
        <mapping class="com.inwise.pojo.UserPermissions"/>
        <mapping class="com.inwise.pojo.OrderAddress"/>


    </session-factory>
</hibernate-configuration>